.game {
  text-align: center;
}

.grid {
  width: 500px;
  margin: auto;
}

.cell {
  height: 150px;
  width: 150px;
  background-color: blue;
  display: inline;
  float: left;
  border: 2px solid white;
  text-align: center;
  font-size: 150px;
}

#top-left, #middle-left, #bottom-left {
  clear: both;
}

.x {
  background-color: yellow;
}

.o {
  background-color: red;
}
